<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../style.css">
  </head>
  <body class="d-flex flex-column">
    <nav class="container-fluid navbar bg-secondary border-bottom border-info" data-bs-theme="dark">
      <h1 class="text-light ms-4 py-1 fs-2">The Timeline</h1>
    </nav>
 
    <div class="container-fluid px-5">
      <form action="/" method="POST">
        <label
          for="postMessage"
          class="form-control border-0 fs-1 text-center my-2 text-info"
          >Post a message:
        </label>
        <textarea
          name="post"
          id="postMessage"
          class="form-control border-info"
          minlength="25"
          style="height: 100px"
          required
        ></textarea>
        <div class="d-flex flex-column align-items-end">
          <button type="submit" class="btn btn-info mt-4" style="color: white">
            <i class="fa-solid fa-pen pe-2 text-white"></i>Post a message
          </button>
        </div>
        
      </form>

        <section>
          <div class="container my-4 py-2">
            <div class="row d-flex justify-content-center">
              <% if(posts.length >0) { %>
              <% posts.forEach(post => { %>
                <div class="card mb-3 py-3">
                  <div class="card-body">
                    <h3> Person <%= post.randomUser %></h3>
                    <p class="py-2 fs-5"><%= post.post %></p>
                    <small class="text-muted"
                      >Posted on <%= post.getDate %></small
                    >
                    <% post.comments.forEach(comment => { %>
                      <p class="mt-2"><%= comment.comment %></p>
                    <% }) %>
                    <form action="/posts/<%= post._id%>/create-comment" method="post" class="mt-4">
                      <input type="text" id="comment" name="comment">
                      <button type="submit">Comment</button>
                    </form>
                    
                  </div>
                  <div class="d-flex flex-row gap-2">
                    <form action="/posts/<%= post._id %>/update-post" class="d-inline">
                      <button type="submit" class="btn btn-warning">Edit</button>
                    </form>
                    <form action="/posts/<%= post._id %>" method="get" class="d-inline">
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
                <% }) %> <% } else { %>
                  <p>Nothing to display...</p>
                  <% } %>
            </div>
          </div>
        </section>
      
    </div>
</html>